.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-collapse {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.hoverme:hover {
  transform: scale(1.05);
}

.darkhover:hover {
  background-color: #c56c18 !important;
  border-color: #c56c18 !important;
}

.fill-up-text {
  font-size: 2rem;
  font-weight: 500;
  color: #555;
  text-align: center;
  display: block;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.fill-up-text:hover {
  transform: scale(1.05);
}

.white-checkmark {
  color: white;
}

@media only screen and (max-width: 600px) {
  .center-on-small {
    text-align: center;
  }
}

.avatar {
  display: inline-block;
  width: 2em;
  height: 2em;
  margin-right: .5em;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  line-height: 2em;
}

@media (max-width: 767px) {
  /* Small devices (up to 767px) */
  .navright {
    float: right;
  }
  .login-page {
      background-image: url("assets/loginpage.png");
      background-size: cover;
      height: 100vh
  }
  .login-sm-gone {
    display: none
  }
  .login-padding {
    padding-top: 100px;
  }
  .login-center {
    margin-left: auto;
    margin-right: auto;
  }
  .bookstore-desc {
    display: none;
  }
  .bookstore-card {
    width: 150px;
  }
  .bookstore-img {
    height: 100px;
  }
  .home-featurecard {
    display: none;
  }  
  .recom-card {
    width: 130px;
  }
  .recom-img {
    height: 100px;
  }

}